h1{
background-color:#086A87;
font-family: courier new;
color: white;
text-align:center;
font-size: 85%;
}
h2{
width: 45%; 
text-align: left;
background-color:#F5ECCE;
border: #0B4C5F 8px outset;

} 

p{
border: white 8px inset;	
}

h4{
border: #FF8000 8px groove;	
}
