h1{
    color: AC72D5;
    font-size: 60px;
    font-family: cooper black;
    text-transform: uppercase;
	text-align: center;
} 
h2{
color: 5C87C8;
font-size: 30px;
font-family:AVOCADO creamy;
}
h3{
color: 5C87C8;
font-size:25px;
font-family:Ink free;
}
p{
color: 54553C;
font-size:18px;
font-family:212 Orion Sans;
text-align: justify;
}
